* {
    text-decoration: none !important;
    list-style: none;
    list-style-type: none;
}

/* Utility custom */
.bg_blue_cc{
    background-color: #1B72E8;
}

.bg-dark-cc{
    background-color: rgba(22, 90, 186, .7);
}


/* Navbar */

.header{
    height: 60px;
}

.dropdown-toggle::after{
    display: none;
}

.btn_forWeb{
    display: none;
}

.container_logo{
    width: 70px;
    height: 60px;
}

.logo_forWeb{
    display: none;
}

/* SideBar */

.sideBar{
    background-image: url(../_resources/imgs/sidebar-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: calc(100vh - 60px);
    background-color: #051E34;
}

.textLink{
    display: none;
}

.btn .fa-solid{
    width: 28px;
    height: 20px;
}

.btn-link:hover{
    background-color: rgba(255, 255, 255, .6);
}

/* Main Dashboard */
.main_dashboard{
    position: absolute;
    top: 60px;
    left: 70px;
    width: calc(100% - 70px);
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.breadcrumb_custom .fa-angles-right{
    font-size: 13px;
}

.for_mob{
    display: block;
}

.for_web{
    display: none;
}

.students_text{
    font-size: 15px;
}

.students_online_counter{
    font-size: 20px;
}

.offcanvas.offcanvas-end{
    width: 100%;
}

/* Form Canvas */
.container_input{
    gap: 1em;
}

.mb-3{
    width: 100%;
}

.inputCity,
.inputState,
.inpuCap{
    width: 100%;
}

.form-control{
    width: 100% !important;
    gap: 1em;
}

/* Hero */
.hero_main{
    width: 100%;
}

.hero_left,
.hero_right{
    width: 100%;
}

.large_width{
    width: 50%;
    text-align: left;
}

.large_width img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.table tbody td{
    font-size: 13px;
}

.tableR{
    font-size: 0.8rem;
}

.table .btn{
    width: 30px;
    height: 30px;
}

.table .btn .fa-solid{
    font-size: 13px;
    width: auto;
    height: auto;
}

th,
td {
    text-align: center;
}

.disable_onMobile{
    display: none !important;
}

/* Media Query */

/* Tablet */
@media only screen and (min-width: 768px) {
    .for_mob{
        display: none;
    }
    .for_web{
        display: block;
    }
    .offcanvas.offcanvas-end{
        width: 800px;
        min-width: 450px;
    }
    .inputCity{
        width: 52%;
    }
    
    .inputState{
        width: 30%;
    }
    
    .inpuCap{
        width: 20%;
    }

    .hero_left{
        width: 60%;
    }

    .hero_right{
        width: 40%;
    }

    .disable_onMobile{
        display: table-cell !important;
    }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
    .container_logo{
        width: 150px;
    }
    .logo_forWeb{
        display: block;
    }
    .logo_forMob{
        display: none;
    }
    .sideBar{
        width: 150px;
    }
    .textLink{
        display: block;
    }
    .main_dashboard{
        left: 150px;
        width: calc(100% - 150px);
    }
    .btn_forWeb{
        display: flex;
    }
}